<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html semantico e css</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <!--
        
        tags semanticas 
        
        tags que dão signifacados para os conteudos 
    
    -->

    <!--

        Com a evolução do html se cirou a tag div 
        que nada mais é que uma caixa ela é muito 
        util, porém ela não é uma tag semântica ou 
        seja não tem significado

    -->

    <div></div>

    <!--

        No html5 foi introduzido as tags semanticas
        ou seja tags que tem algum significado no nome 

    -->

    <nav></nav> <!-- tag para navegação ou seja links -->
    <header></header> <!-- tag para cabeçalho -->
    <main></main> <!-- só se pode ter uma por site -->
    <section></section> <!-- aqui é possível adicionar uma seção -->
    <article></article> <!-- aqui usamos para guardar um artigo -->
    <footer></footer> <!-- tag pra rodapé do site  -->
    <aside></aside> <!-- são area que inserimos aos lados da página 
    são tags que possuem pocar lagura e muita altura
    -->

    <!--
        Só é necessário usar a div quando eu não 
        encontrar uma tag semântica que substitua
        do contrário é necessário usar qualquer 
        outra tag semnatica
    -->

    <!--
        Todas essas tags são usadas o para agregar 
        informações como se fosse uma caixa
    -->    

    <!--
         A tag span é uma tag de linha pra texto
        ela também é uma tag genérica
    -->
    <span></span>

    <!-- 
        buscadores panalizam sites que não são semanticas
        e ajudam a pessoas com na questão a acessibilidade

        SEO - Search Engine Optimizartion 

        são os robos que veem seu site pra rankear e fazer com
        que ele seja encontrado com mais facilidade ou dificuldade
    -->

    <!-- usando identificadores id, class -->

    <div id="caixa"></div>

    <!-- Um id é um identificador único 
    ou seja ele só pode existir uma vez -->

    <div class="caixa-class"></div>
    <div class="caixa-class"></div>
</body>
</html>